@import url(https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:100,200,300,400,500,600,700,800,900|Fira+Sans:100,200,300,400,500,600,700,800,900);
* {
	padding: 0;
	margin: 0;
}
body {
	text-align: center;
	background-color: #E6DCBE;
	font-family: "Fira Sans", Helvetica, Arial, sans-serif;
	font-size: 16px; /* 1em=16px*/
}
img {
	width: 15em;
}
a {
	color: black;
	text-decoration: none;
}
a:hover {
	opacity: .7;
}
nav {
	color: white;
	position: fixed;
	text-align: center;
	width: 100%;
	padding-top: .5em;
	padding-bottom: .5em;
	background-color: black;
	z-index: 2;
}
footer {
	padding-top: 2em;
	padding-bottom: 2em;
	margin-bottom: 0em;
	background-color: #DC1400;
	color: white;
	clear: both;
}
h1 {
	font-weight: 900;
	font-size: 10em;
	font-family: "Fira Sans Extra Condensed", Helvetica, Arial, sans-serif;
	color: white;
	text-transform: uppercase;
	letter-spacing: .015em;
	padding-top: .2em;
}
h2, h3 {
	text-transform: uppercase;
	font-weight: 700;
}
h2 {
	font-size:2.5em;
	letter-spacing: .05em;
	padding: 0 0 2em 0;
	margin: auto;
}
h3 {
	font-size: 22px;
}
p {
	line-height: 1.3em;
	font-size: 1.4em;
	font-weight: 400;
	width: 35em;
	margin: auto;
	/*margin-left: 20%;
	margin-right: 20%;*/
}
nav a {
	/*padding-right: 2em;
	padding-left: 2em;*/
	padding: 0 2em;
	color: white;
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: .05em;
}
div {
	margin: 2em 2em;
}
footer img {
	height: 1.5em;
	width: auto;
	padding: 0 1em;
}
.links {
	color: black;
}
.float {
	float: left;
	width: 300px;
	justify-content: center;
	position: relative;
	left: -50%
}
/*.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}*/
#intro, #about {
	background-color: #DC1400;
	color: white;
}
#intro {
	padding-top: 10em;
	padding-bottom: 12em;
}
#about {
	clear: both;
	text-align: left;
	width: 80%;
	padding: 10%;
	background-color: #DC1400;
}
#about img {
	float: left;
}
#about_text {
	padding: 0 15%;
	margin: 0 20% 0 10%;
	width: 60%;
	vertical-align: middle;
}
#work {
	padding-top: 4em;
}
#about a {
	color: black;
}
#about a:hover {
	opacity: .7;
}
#center_contain {
	justify-content: center;
	margin: 0 5%;
	position: relative;
	left: 50%;
}
#h2_nopad {
	padding: 0;
}