@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Fira+Sans+Extra+Condensed:400,900|Lobster');

body {
	text-align: center;
	background-color: #DC1400;
}
p, h3, h5{
	font-family: "Fira Sans", sans-serif;
	color: white;
}
p {
	font-weight: normal;
}
h1 {
	font-weight: 900;
	font-size: 200px;
	font-family: "Fira Sans Extra Condensed", sans-serif;
	color: white;
	text-transform: uppercase;
}
h3 {
	font-size: 22px;
	text-transform: uppercase;
	font-weight: 900
}
h5 {
	font-size: 18px;
	font-weight: 900;
}
img {
	width:250px;
}
* {
	padding: 0;
	margin:0;

}
a {
	color: white;
	text-decoration: none;
}